{% extends 'base.html' %}
{% load static %}

{% block title %}かじまる{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/user.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/index.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block page_title %}かじまる{% endblock %}
{% block content %}
<div class="index_text">
    <p>家族の代表者が新規登録をしてください。</p>
    <p>登録した方が管理者権限を持ちます。</p>
</div>
<div class="index_button">
    <a href="/signup/" class="btn-primary big_btn">新規登録</a>
    <a href="/welcome/" class="btn-secondary second_big_btn">招待コードを入力</a>
    <a href="/login/" class="btn-secondary third_big_btn">管理者用ログイン</a>
</div>  
{% endblock %}

{% block footer %}
{% endblock %}
