{% extends 'base.html' %}
{% load static %}

{% block title %}招待コード発行{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/user.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block page_title %}招待コードを発行する{% endblock %}
{% block content %}
  <form method="post">{% csrf_token %}
    <button class="btn-primary" type="submit">発行する（有効5分／1回）</button>
  </form>
  <p class="link_set">
    <a href="/profiles/" class="btn-secondary">プロフィール一覧へ戻る</a>
  </p>
  {% for m in messages %}<p class="alert_message" style="color:red">{{ m }}</p>{% endfor %}
{% endblock %}

