{% extends 'base.html' %}
{% load static %}

{% block title %}プロフィール削除{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/user.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block page_title %}プロフィール削除{% endblock %}
{% block content %}
<p class="delete_text">「{{ member.display_name }}」を削除します。よろしいですか？</p>
<form method="post">{% csrf_token %}
<button class="btn-danger">削除する</button>
</form>
<p class="link_set">
    <a href="/profiles/" class="btn-secondary">キャンセル</a>
</p>  
{% endblock %}

{% block footer %}
{% endblock %}

