{% extends 'base.html' %}
{% load static %}

{% block title %}管理者の新規登録{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/user.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block page_title %}管理者用ログイン{% endblock %}
{% block content %}
<form method="post">{% csrf_token %}
  {{ form.as_p }}
<button class="btn-primary" type="submit">ログインする</button>
</form>
<p class="link_set">
  <a href="/signup/" class="btn-secondary">新規登録にもどる</a>   
  <a href="/welcome/" class="btn-secondary">参加コードを入力</a>
</p>
{% for m in messages %}<p class="alert_message" style="color:red">{{ m }}</p>{% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}


