{% extends 'base.html' %}
{% load static %}

{% block title %}プロフィール入室{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/user.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h1>プロフィール入室</h1>
<p>対象: <strong>{{ member.display_name }}</strong></p>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn-primary" type="submit">入室する</button>
  </form>
  {% for m in messages %}<p style="color:red">{{ m }}</p>{% endfor %}
  <p><a href="/welcome/">戻る</a></p>
{% endblock %}

{% block footer %}
{% endblock %}

