.main {
    padding-left: 0;
    padding-right: 0;
}

.page-section {
    flex: 1;
}

.dashboard_scroll_container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: 350px;
    padding-top: 0.8rem;
    /* padding-bottom: 2rem; */
    background-color: var(--bg-surface);
    /* インジケータを設置位置 */
    scroll-marker-group: after;
    /* スクロールバー非表示 */
    scrollbar-width: none;
    /* position: relative;   */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, .16); */
}

.dashboard_scroll_container::scroll-marker-group {
  /* position: absolute; */
  left: 0;
  right: 0;
  padding-bottom: 1rem;
  display: flex;
  width: 100%;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-surface);
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.16);
}

.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    height: 100%;
    scroll-snap-align: center;
    background-color: var(--bg-surface);
}

.area::scroll-marker {
    /* 疑似要素が存在することを教えている */
    content: "";
    border: 2px solid var(--primary);
    border-radius: 50%; 
    height: 1em;
    width: 1em;
    background-color: transparent;
}

::scroll-marker:target-current {
  background: var(--primary);
}

.graph_title {
    text-align: center;
}

.area canvas {
  display: block;
  height: 30dvh;   
  max-height: 80%; 
}

.area ul li {
  font-size: 0.9rem;
  color: var(--dashboard-list); 
  margin-top: 0.2rem;
}
.page-title {
  margin-bottom: 1rem;
}

#family_chart {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.mylist_area{
    margin-top: 1rem;
    min-height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.10);
}


.today_mylist {
  background-color: var(--bg-surface);
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.10);
}

.today_mylist p {
  text-align: center;
}

.today_mylist ul li {
  text-indent: 1em;
  font-size: 0.9rem;
  color: var(--dashboard-list); 
  margin-top: 0.2rem;
}

.unfinished_yesterday_list {
  margin-top: 1rem;
  background-color: var(--bg-surface);
}

.unfinished_yesterday_list p {
  text-align: center;
}

.unfinished_yesterday_list ul li {
  text-indent: 1em;
  font-size: 0.9rem;
  color: var(--dashboard-list); 
  margin-top: 0.2rem;
}

.license {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 0.6rem;
  opacity: 0.6;
}

