{% extends 'base.html' %}
{% load static %}

{% block title %}プレビュー{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/color.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/bottom_nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/top_nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/button.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
{% endblock %}

{% block header %}
  {% include 'components/top_nav.html' %}
{% endblock %}

{% block content %}
 <p>ここにメインコンテンツを入れたり、背景・余白の確認などができます。</p>
 <button class="btn-primary" type="submit" name="submit" value="value">登録</button>
 <button class="btn-secondary" type="submit" name="submit" value="value">追加</button>
 <button class="btn-danger" type="submit" name="submit" value="value">削除</button>
  
 <form action="/signup" method="post">
   <input id="name" type="text" name="name" placeholder="名前">

   <input id="email" type="email" name="email" placeholder="メールアドレス">

   <button class="btn-primary" type="submit" name="submit" value="value">登録</button>
</form>
{% endblock %}

{% block footer %}
  {% include 'components/bottom_nav.html' %}
{% endblock %}
