button,.btn {
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--btn-primary);
    color: var(--text); 
    margin-top: 2rem;
    padding-left: 2.7rem;
    padding-right: 2.7rem; 
    border-bottom: 4px solid var(--btn-bottom);
}

.btn-secondary {
    background-color: var(--btn-bg-secondary);
    color: var(--text);
    /* border: 5px solid var(--btn-secondary-solid); */
    padding: 5px 15px; 
    border: 5px outset var(--btn-secondary-solid);
}

.btn-danger {
    background-color: var(--btn-bg-danger);
    color: var(--text);
    border: 5px solid var(--btn-danger-solid);
    padding: 5px 22px; 
}

.btn-copy {
  margin-top: 1rem;
  padding: 6px 16px;
  border-radius: 6px;
  border: none;
  background-color: #007aff;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
    }
   
.btn-copy:hover {
  opacity: 0.9;
}

button:active,
.btn:active {
  opacity: 0.7; 
}