<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">
        <span class="material-symbols-outlined">shopping_bag</span><br><span class="small">買い物リスト</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="material-symbols-outlined">iron</span><br><span class="small">家事・設備メンテ</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="material-symbols-outlined">shelves</span><br><span class="small">在庫ハブ</span></a>
  </li>
</ul>