/* base.html */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Noto Sans JP", sans-serif;
    background: linear-gradient(
        to bottom, 
        var(--bg-1) 0%, 
        var(--bg-2) 30%, 
        var(--bg-3) 100%
    );
    color: var(--text);
}

.header {
    height: 56px; 
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}

.main {
    padding-top: 64px;
    padding-bottom: 72px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
}

.footer {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}



/* レスポンシブ */
@media(min-width: 768px) and (max-width: 959px) {
  
}

@media(min-width: 960px) and (max-width: 1280px) {

}











