h1 {
    text-align: center;
    margin-top: 3rem;
}

form p {
  display: flex;
  flex-direction: column;   
  align-items: stretch;      
  gap: 0.2rem;
  width: 70%;
  margin-bottom: 0.2rem; 
}

form label {
  text-align: left;     
  width: 70%;   
}

.link_set {
    text-align: center;
    margin-top: 3rem;
}

.link_set a {
    text-decoration: none;
}

.invite_code {
  text-align: center;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: var(--bg-surface);
}

.expiration_date {
  text-align: center;
  margin-top: 3rem;
}

.caution_text {
  text-align: center;
}

.delete_text {
  text-align: center;
  margin-top: 3rem;
}

.participation_code {
  text-align: center;
  margin-bottom: -0.5rem;
  margin-top: 1rem;
}

.profile_card {
  background-color: var(--bg-surface);
}

.profile_add_select {
  display: flex;
  justify-content: space-between;
}

.profile_add_select a {
  text-decoration: none;
}

.profile_add_select a:last-child {
  margin-right: 1rem;
}

.pin_target {
  text-align: center;
  margin-top: 1rem;
}