.main {
    padding-left: 0;
    padding-right: 0;
}

.tasklist_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin-top: 1.5rem;
    background-color: var(--bg-surface);
    box-shadow: 
      0 10px 12px -6px rgba(0,0,0,0.18),
      0 -6px 12px -6px rgba(0,0,0,0.08);
}

.task_actions {
    display: flex;
    gap: 1rem;
    width: 90%;
    justify-content: center;
    margin: 0 auto; 
}

.task_actions .btn-primary {         
    display: flex;            
    justify-content: center;  
    align-items: center;      
    margin-top: 2rem;            
    padding: 0.4rem 1rem; 
    border-width: 5px;      
}

.task_actions-edit {
    display: flex;
    gap: 0.5rem;
}
